@import "susy";

$total-columns  : 6;
$column-width   : 4em;
$gutter-width   : 1em;
$grid-padding   : $gutter-width;

$break          : 12;

.page {
  @include container($total-columns, $break);
  //@include susy-grid-background;

  footer { clear:both; }

  .recent-content, .popular-content, .twitter-content, .links-content, .tag-content, .year-content, .archive-content, .tags-content {
    @include span-columns(4 omega, $total-columns);
  }

  .recent-header, .twitter-header, .popular-header, .links-header, .tag-header, .year-header, .archive-header, .tags-header {
    @include span-columns(2, $total-columns);
  }

  .article-content {
    @include span-columns(6, $total-columns, 1em);
  } 

  .break {
    @include span-columns($total-columns);
  } 

  .main {
    @include span-columns(6, $total-columns);
    font-family: 'titillium_weblight', sans-serif;
  }

  .right {
    @include span-columns(2 omega, $total-columns);
  }
}

@include at-breakpoint($break) {
  .main {
    //@include susy-grid-background;
  }
}
