@import "susy";

$total-columns  : 7;
$column-width   : 8em;
$gutter-width   : 2em;
$grid-padding   : $gutter-width;

$break          : 12;

.page {
  @include container($total-columns, $break);
  //@include susy-grid-background;

  header, footer { clear:both; }

  .main {
    @include span-columns(5, $total-columns);
    font-family: 'titillium_weblight', sans-serif;
  }

  .right {
    @include span-columns(2 omega, $total-columns);
  }
}

@include at-breakpoint($break) {
  .main {
    //@include susy-grid-background;
  }
}
