/**
//HTML5 Boilerplate + Normalize
*= require "_vendor/normalize.css"
*= require "_vendor/html5bp.css"

//Grid
*= require "_layout/grid"
*/

/* Palette color codes */
/* original pallet created from: http://colorschemedesigner.com/#0l41Tw0w0w0w0*/
$color1: #BEE2E7; //light blue
$color2: #4F57AA; //dark blue
$color3: #454857; //dark Grey
$color4: #72818B; //light Grey
$color5: #8F002E; //red

@import "compass/css3";

body {
  font-size: 1.25em;
  font-family: 'QuicksandBook', sans-serif;
  color: $color4;
  background-image:url(/images/dark_wall.png);
}

header {  
  font-family: 'QuicksandLight', sans-serif;
  min-height: 3em;
  clear: both;
  margin-bottom: 2em;
  color: $color3;
  text-align: left;
  font-size: 1.5em;
  padding: 2.5em;
  position:relative;
}


.title {
  div {
    a:link, a:visited, a:hover, a:active {
      text-decoration:none;
      color: $color3;
    } 
  }

  a:hover{
    text-decoration:none;
  } 
}

.padded-span {
  padding:20px;
}

footer {
  font-family: 'QuicksandLight', sans-serif;
  min-height: 3em;
  clear: both;
  color: $color3;
  text-align: left;
  font-size: 1em;
  padding: 2.5em;
  margin-top:3em;
  position:relative;
}

a:link, a:visited, a:hover, a:active {
  text-decoration:none;
  color: $color5;
}

.dropcap{
    float:left;
    font-size:4em;
    margin-top:14px;
    margin-right:5px;
    color:#8C8273;
}

/////////////////////////////////////////////////////
// Header Styles
////////////////////////////////////////////////////
.header-menu {
  font-family: 'QuicksandBook', sans-serif;
}

.header-menu-item {
  padding-right: .5em;
}

a.header-menu-item:hover {
  text-decoration:underline;
  color: $color5;
}

.vertical-list-box, .vertical-list-padding {
  padding:.5em;
  font-size:1.25em;
}
.vertical-list-box {
  border-bottom-style: dotted;
  border-bottom-width: 3px;
}

.break {
  min-height: 3em;
}

//////////////////////////////////////////////////////////
// index header styles
/////////////////////////////////////////////////////////


.recent-header,.twitter-header, .popular-header, .links-header, .tags-header, .year-header, .archive-header, .tag-header {
  font-size: 1.7em;
  color: #ffffff;
}

.recent-header {
  background-color: #b30f37;
}

.twitter-header {
  background-color: #a4d283;
}

.popular-header {
  background-color: #85E0FF;
}

.links-header {
  background-color: #d6bc00;
}

.tags-header {
  background-color: #330067;
}

.year-header {
  background-color: #DE59DE;
}

.archive-header {
  background-color: #A7896C;
}

.tag-header {
  background-color: #194719;
}

.recent-content, .popular-content, .twitter-content, .article-content, .tag-content, .year-content, .links-content, .archive-content, .tags-content, .discuss-content, header,footer {
  background-image:url(/images/lightpaperfibers.png);
}

.discuss-content {
  padding: 1em;
}

.padded-header {
  padding: .5em;
}

.main {
  font-size: 100%;
}

section {
  border-bottom: 4px solid $color5; 
  margin-right: 2em;
} 

.column1 {
    margin-right: -1em;
    border-right: 1px dotted $color5;
 
}

.headerImage {
  top:-500px;
  width:900px;
  height:107px;
}

h1 {
  text-align:center;
}

h2 {
  font-family: 'QuicksandBold', sans-serif;
  color: $color2;
}

@font-face {
    font-family: 'QuicksandLight';
    src: url('fonts/Quicksand/Quicksand_Light-webfont.eot');
    src: url('fonts/Quicksand/Quicksand_Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Quicksand/Quicksand_Light-webfont.woff') format('woff'),
         url('fonts/Quicksand/Quicksand_Light-webfont.ttf') format('truetype'),
         url('fonts/Quicksand/Quicksand_Light-webfont.svg#QuicksandLight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'QuicksandLightOblique';
    src: url('fonts/Quicksand/Quicksand_Light_Oblique-webfont.eot');
    src: url('fonts/Quicksand/Quicksand_Light_Oblique-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Quicksand/Quicksand_Light_Oblique-webfont.woff') format('woff'),
         url('fonts/Quicksand/Quicksand_Light_Oblique-webfont.ttf') format('truetype'),
         url('fonts/Quicksand/Quicksand_Light_Oblique-webfont.svg#QuicksandLightOblique') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'QuicksandBook';
    src: url('fonts/Quicksand/Quicksand_Book-webfont.eot');
    src: url('fonts/Quicksand/Quicksand_Book-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Quicksand/Quicksand_Book-webfont.woff') format('woff'),
         url('fonts/Quicksand/Quicksand_Book-webfont.ttf') format('truetype'),
         url('fonts/Quicksand/Quicksand_Book-webfont.svg#QuicksandBook') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'QuicksandBookOblique';
    src: url('fonts/Quicksand/Quicksand_Book_Oblique-webfont.eot');
    src: url('fonts/Quicksand/Quicksand_Book_Oblique-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Quicksand/Quicksand_Book_Oblique-webfont.woff') format('woff'),
         url('fonts/Quicksand/Quicksand_Book_Oblique-webfont.ttf') format('truetype'),
         url('fonts/Quicksand/Quicksand_Book_Oblique-webfont.svg#QuicksandBookOblique') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'QuicksandBold';
    src: url('fonts/Quicksand/Quicksand_Bold-webfont.eot');
    src: url('fonts/Quicksand/Quicksand_Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Quicksand/Quicksand_Bold-webfont.woff') format('woff'),
         url('fonts/Quicksand/Quicksand_Bold-webfont.ttf') format('truetype'),
         url('fonts/Quicksand/Quicksand_Bold-webfont.svg#QuicksandBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'QuicksandBoldOblique';
    src: url('fonts/Quicksand/Quicksand_Bold_Oblique-webfont.eot');
    src: url('fonts/Quicksand/Quicksand_Bold_Oblique-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Quicksand/Quicksand_Bold_Oblique-webfont.woff') format('woff'),
         url('fonts/Quicksand/Quicksand_Bold_Oblique-webfont.ttf') format('truetype'),
         url('fonts/Quicksand/Quicksand_Bold_Oblique-webfont.svg#QuicksandBoldOblique') format('svg');
    font-weight: normal;
    font-style: normal;

}